{{ define "main" }}
<article>
  <header>
    <p>welcome to my personal website</p>
    <h1>My name is Tom</h1>
  </header>
  <p>
I am a social scientist with a keen interest in emerging technologies. In particular, as early as 2016, I avidly follow developments in the blockchain space and hold interest into the Ethereum ecosystem and other public-permissonless applications. 

As academic, I contributed impactful research on <a href="https://doi.org/10.1016/j.techsoc.2023.102251">decentralised autonomous organisations</a> (DAOs), <a href="https://link.springer.com/chapter/10.1007/978-3-030-95108-5_8">tokenization in the art market</a>, and <a href="https://doi.org/10.1016/j.giq.2023.101873">self-sovereign identity</a> (SSI) amongst others. 

Having successfully collaborated and published with lawyers, mathematicians, and computer scientists, my strength lies in cross-disciplinary collaboration, to find logical relations between topics, and to take apart socio-technological controversies. 
  </p>
</article>
<hr>

{{ end }}
