{{ define "main" }}
<article>
  <header>
    <p>/home</p>
    <h1>Welcome to my personal website</h1>
  </header>
  <p>
My name is Tom Barbereau, I am a social scientist with a keen interest in emerging technologies and dynamics of innovation. I hold a PhD from the University of Luxembourg, MSc from the University of Edinburgh, and BA from the University of Groningen. 
   </p> 
   <p>
Having successfully collaborated and published with lawyers, mathematicians, and computer scientists, my strength lies in cross-disciplinary collaboration, to find logical relations between topics, and to take apart socio-technological controversies. 
   </p>
   <p>
Over the years, I contributed impactful research featured in <a href="https://doi.org/10.1016/j.techsoc.2023.102251">Technology in Society</a> (DAOs), <a href="https://link.springer.com/article/10.1007/s13347-023-00612-z">Philosophy and Technology</a>, and <a href="https://doi.org/10.1016/j.giq.2023.101873">Government Information Quarterly</a>. I also published at leading <a href="https://tom-barbereau.github.io/portfolio/#conference-proceedings">conferences</a> and contributed to edited <a href="https://tom-barbereau.github.io/portfolio/#contributions-to-edited-books">books</a>.  
  </p>
</article>
<hr>

{{ end }}
